<!doctype html>
<html lang="en" data-framework="AngularJS">
<head>
    <meta charset="utf-8">
    <title>EventsManager</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body ng-app="app">
<div class="screen" ng-controller="main:controller">
    <h1 ng-click="actions.openEvent()">event manager</h1>
    <input class="search" type="text" ng-model="model.search" ng-maxlength="200" />
    <button ng-click="actions.newEvent()">create event</button>
    <ul class="thread" >
        <event ng-repeat="event in model.thread | filterEvent:model.search"
               event="event" open="actions.openEvent" remove="actions.removeEvent" >
        </event>
    </ul>
    <eventdetail ng-if="model.openedEvent"
                 event="model.openedEvent"
                 save="actions.saveEvent"
                 close="actions.closeEvent"></eventdetail>
</div>
</body>
</html>
